/**** FØR OG EFTER BILLEDERNE ****/
.before_afters img {
  width: 300px;
}

.before_afters .before_after {
  position: relative;
  margin: 4rem;
}

.before_afters .first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: z-index 0.5s ease, transform 0.6s ease;
}

.before_afters .before_after:hover .first {
  z-index: 0;
  transform: scale(1.05);
}
/* cta in menu */
.book_tid_cta_2 {
  display: block;
  text-align: center;
  margin-top: -10px;
}

.book_tid_cta_2 {
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 0.5em 1em;
  width: auto;
}

.book_tid_cta_2 {
  background-color: #f6f0e9;
  stroke: #98a360;
  color: black !important;
}

.book_tid_cta_2:hover {
  background-color: #98a360;
}
