/**** FØR OG EFTER BILLEDERNE ****/
.before_afters img {
  width: 300px;
}

.before_afters .before_after {
  position: relative;
  margin: 4rem;
}

.before_afters .first {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: z-index 0.5s ease, transform 0.6s ease;
}

.before_afters .before_after:hover .first {
  z-index: 0;
  transform: scale(1.05);
}
/* cta in menu */
.book_tid_cta_2 {
  display: block;
  text-align: center;
  margin-top: -10px;
}

.book_tid_cta_2 {
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 0.5em 1em;
  width: auto;
}

.book_tid_cta_2 {
  background-color: #f6f0e9;
  stroke: #98a360;
  color: black !important;
}

.book_tid_cta_2:hover {
  background-color: #98a360;
}

.oplev_magi_text {
  padding-left: 1rem;
  margin-top: 3rem;
}

.extensions {
  margin-bottom: 17%;
  margin-top: 40%;
  font-size: 24px;
  text-align: center;
}

.certificeret {
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.brodtext {
  padding: 1.5rem;
  margin-top: 0.5rem;
}

.tre_overskrifter {
  padding-left: 1.5rem;
  margin-top: 3rem;
}

.tre_tekster {
  padding: 1.5rem;
  margin-top: 0.5rem;
}

.se_priser {
  display: block;
  text-align: left;
}

.se_priser_1 {
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 1em 2em;
  width: auto;
  padding: 1.5rem;
  margin-top: 5.5rem;
  position: relative;
  left: 10rem;
  background-color: #f6f0e9;
  stroke: #98a360;
  color: black !important;
}

.se_priser_1:hover {
  background-color: #98a360;
}

.musen {
  text-align: center;
  margin-top: 6rem;
}

.hoover_text,
.hoover_text_1,
.hoover_text_2,
.hoover_text_3 {
  border-radius: 3em;
  text-decoration: none;
  margin-top: 3rem;
  position: relative;
  text-align: center;
  margin-left: 7rem;
  width: 100%; /* Juster efter behov */
}

.ext_body {
  margin-top: 0%;
}

/* CSS-kode til hover effekt på billeder */
.hoover_containere,
.hoover_containere_1,
.hoover_containere_2,
.hoover_containere_3 {
  position: relative;
  width: 50%; /* Juster efter behov */
}

.hover-image,
.hover-image_1,
.hover-image_2,
.hover-image_3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
  margin-left: 7rem;
  margin-top: 1rem;
}

.hover-image {
  width: 58%;
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.hover-image_1 {
  width: 58%;
  margin-left: 10rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.hidden-text,
.hidden-text_1,
.hidden-text_2,
.hidden-text_3 {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  text-align: center;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  color: rgb(0, 0, 0); /* Farven på teksten */
  font-size: 20px; /* Størrelsen på teksten */
  z-index: 1; /* Sikrer at teksten er ovenpå billedet */
}
.hidden-text {
  top: 10rem;
  left: 14rem;
}

.hidden-text_1 {
  top: 10rem;
  left: 14rem;
}

.hidden-text_2 {
  top: 11rem;
  left: 14rem;
}

.hidden-text_3 {
  top: 9rem;
  left: 14rem;
}

/* CSS-kode til hover-effekten */
.hoover_containere:hover .hover-image,
.hoover_containere_1:hover .hover-image_1,
.hoover_containere_2:hover .hover-image_2,
.hoover_containere_3:hover .hover-image_3 {
  opacity: 0;
}

.hoover_containere:hover .hidden-text,
.hoover_containere_1:hover .hidden-text_1,
.hoover_containere_2:hover .hidden-text_2,
.hoover_containere_3:hover .hidden-text_3 {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 750px) {
  .extensions {
    margin-bottom: 5%;
    margin-top: 35%;
    font-size: 24px;
    text-align: center;
  }

  .big_picture {
    width: 100%;
    height: 750px;
    object-fit: cover;
  }

  .oplev_magi_text,
  .extensions {
    text-align: center;
  }

  .oplev_magi_text {
    margin-bottom: 7rem;
    margin-top: 1rem;
  }

  .before_and_text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 5rem;
  }

  .before_afters .before_after {
    margin-left: 12rem;
    margin-right: 10rem;
    margin-top: 5rem;
  }

  .extensions {
    margin-bottom: 4rem;
    margin-top: 14rem;
    font-size: 65px;
  }

  .tre_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 3rem;
    margin-top: 6rem;
  }

  .tre_tekster {
    padding-bottom: 1rem;
  }
  .desktop_hover {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 6rem;
    margin-top: 3rem;
  }

  .hover-image {
    margin-left: 9rem;
  }
  .hover-image_1 {
    margin-top: 3rem;
  }
  .hover-image,
  .hover-image_1,
  .hover-image_2,
  .hover-image_3 {
    height: auto;
  }

  .hidden-text {
    top: 15rem;
    left: 13rem;
  }
  .hidden-text_1 {
    top: 14rem;
    left: 13rem;
  }
  .hidden-text_2 {
    top: 16rem;
    left: 13rem;
  }
  .hidden-text_3 {
    top: 12rem;
    left: 13rem;
  }
  .hoover_text,
  .hoover_text_1,
  .hoover_text_2,
  .hoover_text_3 {
    margin-left: 5rem;
    width: 132%;
  }
}
