body {
  background-color: #f6f0e9;
  margin: 0 auto;
  margin-top: 10%;
}

main {
  margin: 0 auto;
  padding-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Yeseva One", serif;
  font-size: 67px;
  color: var(--primary);
  margin-bottom: var(--space-sm);
}

h2 {
  font-family: "Yeseva One", serif;
  font-size: 45px;
  color: var(--secondary);
  margin-bottom: var(--space-sm);
}

h3 {
  font-family: "Yeseva One", serif;
  font-size: 30px;
  color: var(--secondary);
  margin-bottom: var(--space-sm);
}

h4 {
  font-family: "Yeseva One", serif;
  font-size: 20px;
  color: var(--primary);
  margin-bottom: var(--space-sm);
}

p {
  font-family: "Viaoda Libre", serif;
  font-size: 20px;
  color: #000000;
  margin-block: var(--space-sm);
  margin: 0px;
}

a {
  font-family: "Viaoda Libre", serif;
  font-size: 17px;
  color: var(--tertiary);
}

html {
  --primary: #98a360;
  --secondary: #000000;
  --tertiary: #5000ca;
  --space-sm: 0rem;
}

/* STYLING */
/* typografi  */
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}
/* SLUT typografi  */

/* top nav.bar  */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer */

.custom-hr {
  border: 0;
  height: 1px; /* This sets the height of the horizontal line */
  background-color: #000; /* Change this to your desired color */
  margin: 20px 0; /* Adjust the margin as needed */
}

.grid-container_footer {
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.display_1-1 {
  text-align: center;
}

.margin-telefon {
  margin: 6%;
}

.margin-social {
  margin: 6%;
}

@media (max-width: 600px) {
  .grid-container_footer {
    padding: 1px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
  }
}
