h1 {
  color: var(--primary);
  margin-bottom: var(--space-sm);
}

h2 {
  color: var(--secondary);
  margin-bottom: var(--space-sm);
}

p {
  color: var(--tertiary);
  margin-block: var(--space-sm);
}

html {
  --primary: #bada55;
  --secondary: #ff2291;
  --tertiary: #5000ca;
  --space-sm: 1rem;
}

/* STYLING */
/* typografi  */
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}
/* SLUT typografi  */

/* top nav.bar  */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

/* Footer */
.grid-container_footer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.display_1-1 {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
