/* cta in menu */
.book_tid_cta_2 {
  display: block;
  text-align: center;
  margin-top: -10px;
}

.book_tid_cta_2 {
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 0.5em 1em;
  width: auto;
}

.book_tid_cta_2 {
  background-color: #f6f0e9;
  stroke: #98a360;
  color: black !important;
}

.book_tid_cta_2:hover {
  background-color: #0000;
}
/* mobile */
.adresse {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
}
/* .adresse {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--widgets-spacing, 8px);
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 4rem;
} */

.kontakt {
  margin-bottom: 4rem;
  margin-top: 15rem;
  text-align: center;
}

.timer {
  text-align: center;
  margin-top: 6rem;
}
.kontaktvid {
  padding-right: 92px;
  padding-left: 92px;
}
.kunder {
  text-align: center;
}

@media screen and (min-width: 600px) {
  /* .kontakt {
    margin-dbottom: 4rem;
    margin-top: 12rem;
    text-align: center;
  } */
  .adresse {
    flex-direction: row-reverse;
    align-content: center;
  }

  /* .adresse {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 20rem;
    margin-top: 15rem;
    gap: var(--widgets-spacing, 15px);
  } */
  .maps {
    margin-right: 20rem;
  }
  .mynd1 {
  }

  .kontaktvid {
    padding-left: 550px;
  }
  .textadresse {
  }
}
