h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 23px;
}

h3 {
  margin: 20px;
  text-align: left;
  font-size: 23px;
}

.p1 {
  margin: 20px;
  text-align: center;
}

p {
  margin: 20px;
  text-align: left;
}

h4 {
  text-align: center;
}

.baggrund {
  background-color: #efe8e1;
  padding: 1%;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  padding: 3em 0;
}

.grid_1-1 {
  display: grid;
  grid-column: 2 / 2;
  gap: 10px;
}
.grid_1-2 {
  display: grid;

  grid-column: 5/4;
  gap: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  padding: 3em 0;
}

.col2 {
  display: inline-block;
}

.grid3 {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  object-fit: cover;
}

.oversigt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.oversigt_1 {
  display: grid;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center; /* Center align text for better appearance */
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 1em 2em;
  width: auto;
  margin: 33px;
}

.oversigt_1:hover {
  color: #98a360;
}
/* CTA */
.book_tid_cta {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.book_tid_cta_1 {
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 1em 2em;
  width: auto;
}

.book_tid_cta_1 {
  background-color: #f6f0e9;
  stroke: #98a360;
  color: black !important;
}

.book_tid_cta_1:hover {
  background-color: #98a360;
}

.book_tid_cta_2 {
  display: block;
  text-align: center;
  margin-top: -10px;
}

.book_tid_cta_2 {
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 0.5em 1em;
  width: auto;
}

.book_tid_cta_2 {
  background-color: #f6f0e9;
  stroke: #98a360;
  color: black !important;
}

.book_tid_cta_2:hover {
  background-color: #0000;
}

@media (max-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: end;
  }

  .grid3 {
    display: grid;
    grid-template-columns: 1fr;
    object-fit: cover;
    margin: 20px;
  }

  h1 {
    font-family: "Yeseva One", serif;
    font-size: 24px;
    padding-top: 20%;
  }

  h2 {
    font-family: "Yeseva One", serif;
    font-size: 20px;
  }

  h3 {
    font-family: "Yeseva One", serif;
    font-size: 16px;
  }

  p {
    font-family: "Viaoda Libre", serif;
    font-size: 14px;
    text-align: center;
  }

  .oversigt_1 {
    font-size: 7px;
  }
}
