@media screen and (min-width: 600px) {
  .container_main {
    grid-template-columns: 1fr;
  }
}

/* CTA */
.book_tid_cta {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.book_tid_cta_1 {
  border: 2px solid #98a360;
  border-radius: 3em;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 1em;
  text-decoration: none;
  padding: 1em 2em;
  width: auto;
}

.book_tid_cta_1 {
  background-color: #f6f0e9;
  stroke: #98a360;
  color: black !important;
}

.book_tid_cta_1:hover {
  background-color: #98a360;
}

/* Grid, container */
@media screen and (max-width: 600px) {
  .container_main {
    grid-template-columns: 1fr;
  }
}

.img {
  width: 722px;
  height: 688px;
  object-fit: cover;
}

.container_main {
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}
.grid_1-2 {
  text-align: left;
  margin-left: 50px;
}

.h1_produkter {
  text-align: center;
}

.h3 {
  text-align: left;
}
